 * {
     padding: 0;
     margin: 0;

 }

 body {
     background-color: rgb(3, 3, 43);
     color: white;
     font-family: "Poppins", sans-serif;
 }

 nav {
     display: flex;
     justify-content: space-around;
     align-items: center;
     background-color: rgb(22, 22, 87);
     height: 80px;
 }

 nav ul {
     display: flex;
     justify-content: center;
 }

 nav ul li {
     list-style: none;
     margin: 0 23px;

 }

 nav ul li a {
     text-decoration: none;
     color: white
 }

 nav ul li a:hover {
     color: rgb(117, 117, 228);
     font-size: 1.04rem;
 }

 main hr {
     border: 0;
     background: #9c97f1;
     height: 1.2px;
     width: 80vw;
     margin: 60px 0 60px 10vw;

 }


 .left {
     font-size: 1.5rem;
 }

 .firstSection {
     display: flex;
     justify-content: space-around;
     align-items: center;
     margin: 50px 0;

 }

 .firstSection>div {
     width: 30%;
 }

 .leftSection {

     font-size: 2rem;

 }

 .leftSection .btn {

     padding: 12px;
     background-color: #1e2167;
     color: white;
     border: 2px solid white;
     border-radius: 6px;
     font-size: 15px;
     cursor: pointer
 }

 .leftSection .btn:hover {
     background-color: white;
     color: #1e2167;
     font-size: 1.04rem;
 }

 .leftSection .buttons {
     padding: 30px 0px;

 }

 .rightSection img {
     width: 60%;

 }

 .purple {
     color: rgb(135, 61, 205);
 }

 #element {
     color: rgb(135, 61, 205);

 }

 .secondSection {
     max-width: 80vw;
     margin: auto;
     height: 80vh;
 }

 .secondSection h1 {
     font-size: 1.9rem;
     height: 5vh;

 }

 .secondSection .box {
     background-color: white;
     width: 75vw;
     height: 2px;
     margin: 56px auto;
     display: flex;
 }



 .text-grey {
     color: grey;
 }


 .secondSection .vertical {
     height: 93px;
     width: 1px;
     background-color: white;
     margin: 0 100px;


 }

 .image-top {
     width: 32px;
     position: relative;
     top: -32px;
     left: -9px;
 }

 .vertical-title {
     position: relative;
     top: 75px;
     width: 150px;
     font-size: 15px;

 }

 .vertical-desc {
     position: relative;
     top: 86px;
     color: grey;
     width: 180px;
     font-size: 9px;

 }

 footer {
     background-color: #0e0e1a;

 }


 .footer {
     display: flex;
     padding: 23px 122px;
     justify-content: space-evenly;
 }

 .footer ul {
     list-style: none;
 }

 .footer>div {
     width: 233px;
 }

 footer .footer-rights {
     text-align: center;
     color: grey;
     padding: 12px 0px;
 }



 .active {

     font-weight: bold;
     border-bottom: 2px solid white;
 }

 .footerpage-links {
     color: white;
 }




 /* Contact Me Page css start */

 .contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #222;

}


.contact .content {
    max-width: 800px;
    text-align: center;
}

.contact .content h2 {
    font-size: 3em;
    color: #fff;
    font-weight: 500
}

.contact .content p {
    color: #fff;
    font-size: 1.1em;
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    margin-top: 30px;

}

.container .contactInfo {
    width: 50%;
    display: flex;
    flex-direction: column;

}

.container .contactInfo .box {
    position: relative;
    padding: 20px 0;
    display: flex;
    cursor: pointer;

}

.container .contactInfo .box .icon {
    position: relative;
    min-width: 60px;
    height: 60px;
    background: repeating-conic-gradient(from 27.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    display: flex;
    justify-content: center;
    align-items: center;


}


.container .contactInfo .box .icon::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from 117.5deg, #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    z-index: 1;
}

.container .contactInfo .box .icon::after {
    content: '';
    position: absolute;
    inset: 2px;
    background: #01dbc2;
    z-index: 1;
}

.container .contactInfo .box .icon b {
    position: absolute;
    inset: 8px;
    background: #01dbc2;
    z-index: 2;
}

.container .contactInfo .box .icon i {
    position: relative;
    z-index: 1000;
    color: #fff;
    font-size: 1.25em;
}

.container .contactInfo .box .text {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    font-size: 1.1em;
    color: #fff;
    font-weight: 300;


}

.container .contactInfo .box .text h3 {
    font-weight: 500;
    color: #01dbc2;


}

.container .contactInfo .txt {
    color: #fff;
    margin-top: 50px;
    font-weight: 500;
    border-left: 50px solid #01dbc2;
    padding-left: 10px;
    line-height: 1em;


}

.container .contactInfo .sci {
    position: relative;
    display: flex;
    gap: 30px;
    margin: 20px 0px;


}

.container .contactInfo .sci li {
    list-style-type: none;

}


.container .contactInfo .sci li a {
    color: #fff;
    font-size: 1.5em;
    transition: 0.25s;

}

.container .contactInfo .sci li a:hover {
    color: #01dbc2;
    filter: drop-shadow(0 0 5px #01dbc2);

}



.container .contactForm {
    position: relative;
    width: 110%;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    padding: 60px
}

.container .contactForm::before {
    content: '';
    position: absolute;
    inset: 0;
    background: repeating-conic-gradient(from var(--a), #01dbc2 0%, #01dbc2 10%, transparent 10%, transparent 50%);
    animation: animate 6s linear infinite;
    animation-delay: -1.5s;
}

.container .contactForm::after {
    content: '';
    position: absolute;
    inset: 2px;
    border: 20px solid #222;
    background: #333;


}

@property --a {
    syntax: '<angle>';
    inherits: false;
    initial-value: 0deg;

}

@keyframes animate {
    0% {
        --a: 0deg;
    }

    100% {
        --a: 360deg;
    }

}

.container .contactForm form {
    position: relative;
    z-index: 10;
}

.container .contactForm form h2 {
    font-size: 2em;
    color: #fff;
    font-weight: 500;


}

.container .contactForm form .inputBox {
    position: relative;
    width: 100%;
    margin-top: 20px;

}

.container .contactForm form .inputBox input,
.container .contactForm form .inputBox textarea {
    background: transparent; 
    border: none; 
    border-bottom: 2px solid #01dbc2; 
    color: #fff; 
    padding: 10px 0;
    font-size: 1.1em;
    margin: 10px 0;
    outline: none;
    resize: none;
    width: 100%;
}
.container .contactForm form .inputBox span {
    position: absolute;
    left: 0;
    pointer-events: none;
    padding: 10px 0px;
    margin: 10px 0px;
    font-size: 1.1em;
    color: #fff;
    transition: 0.5s;
    top: 0;

}


.container .contactForm form .inputBox input:focus~span,
.container .contactForm form .inputBox textarea:focus~span,
.container .contactForm form .inputBox input:valid~span,
.container .contactForm form .inputBox textarea:focus~span {
    color: #01dbc2;
    font-size: 0.9em;
    transform: translateY(-20px);


}

.container .contactForm form .inputBox input[type="submit"] {
    width: 100%;
    background-color: #01dbc2;
    color: #222;
    border: none;
    cursor: pointer;
    padding: 15px;
    font-size: 1.1em;
    font-weight: 500;
    margin-top: 20px;
    transition: 0.3s;



}

.container .contactForm form .inputBox input[type="submit"]:hover {
    background-color: #00c4b0;
    box-shadow: 0 0 10px #01dbc2;
}


 /* now make responsive */

 @media (max-width: 991px) {
     .contact {
         padding: 50px;
     }

     .container {
         flex-direction: column;
     }

     .container .contactInfo,
     .container .contactForm {


         width: 100px;

     }
.container .contactForm{
padding :40px;
}

     .container .contactForm form {
         padding: 10px;
     }

 }  










