{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Personal Portfolio</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css"
        integrity="sha512-...YOUR-INTEGRITY-HASH..." crossorigin="anonymous" referrerpolicy="no-referrer" />

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap"
        rel="stylesheet">

        <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
</head>

<body>
    <header>
        <nav>
            <div class="left">Developer Portfolio</div>
            <div class="right">
                <ul class="footer-active">
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">About</a></li>
                    <li><a href="{% url 'skills' %}">My Skills</a></li>
                    <li><a href="{% url 'services' %}" class="active">Services</a></li>
                    <li><a href="{% url 'contactme' %}">Contact Me</a></li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="container-sa">
        <div id="service-section">
            <h2 style="color:purple">My Services</h2>
            <p id="paragraph">
                I offer a range of services tailored to help individuals and businesses build a strong digital presence
            </p>

            <div class="cards">

                <div class="card">
                    <i class="fa-brands fa-react"></i>
                    <div class="content">
                        <h3>Web Development</h3>
                        <p>I create responsive, clean websites using HTML, CSS, and JavaScript</p>
                        <p>With Django backend, I ensure functionality, data handling, and smooth performance</p>
                    </div>
                </div>

                <div class="card">
                    <i class="fa-regular fa-gem"></i>
                    <div class="content">
                        <h3>App Development</h3>
                        <p>I develop user-friendly mobile apps focused on performance, design, and usability</p>
                        <p>From concept to launch, I ensure functionality, speed, and reliability</p>
                    </div>
                </div>

                <div class="card">
                    <i class="fa-solid fa-rocket"></i>
                    <div class="content">
                        <h3>UI/UX Designer</h3>
                        <p>I design intuitive, engaging interfaces that enhance user experience and interaction</p>
                        <p>Focusing on usability, aesthetics, and flow for seamless digital experiences</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</body>

</html>


<footer>
    <div class="footer">
        <div class="footer-first">
            <h3>Developer Portfolio </h3>

        </div>
        <div class="footer-second">
            <ul>
                <a href="{% url 'home' %}" class="footerpage-links">
                    <li>Home</li>
                </a>


                </a>
                <a href="{% url 'about' %}" class="footerpage-links">
                    <li>About</li>
                </a>
                <a href="{% url 'skills' %}" class="footerpage-links">
                    <li>My Skills</li>
                </a>
                <a href="{% url 'services' %}" class="footerpage-links">
                    <li>Services</li>
                </a>
                <a href="{% url 'contactme' %}" class="footerpage-links">
                    <li>Contact Me</li>
                </a>
            </ul>

        </div>
        <div class="footer-third">
            <ul>
                <a href="https://www.facebook.com/salikahmad702/" class="footerpage-links">
                    <li>Facebook</li>
                </a>
                <a href="https://www.instagram.com/salikahmad702/" class="footerpage-links">
                    <li>Instagram</li>
                </a>
                <a href="https://www.linkedin.com/in/salik-ahmad-programmer/" class="footerpage-links">
                    <li>Linkedln</li>
                </a>
                <a href="https://github.com/salik702" class="footerpage-links">
                    <li>Github</li>
                </a>

                <a href="mailto:salikahmad702@gmail.com" class="footerpage-links">
                    <li>Email</li>
                </a>


            </ul>

        </div>
        <div class="footer-fourth">
            <ul>
                <a href="https://html.com/about/" class="footerpage-links">
                    <li>Html</li>
                </a>
                <a href="https://www.w3.org/Style/CSS/Overview.en.html" class="footerpage-links">
                    <li>Css</li>
                </a>
                <a href="https://developer.mozilla.org/en-US/docs/Learn_web_development/Core/Scripting/What_is_JavaScript"
                    class="footerpage-links">
                    <li>JavaScript</li>
                </a>
                <a href="https://www.techtarget.com/whatis/definition/bootstrap" class="footerpage-links">
                    <li>Bootstrap</li>
                </a>
                <a href="https://www.geeksforgeeks.org/reactjs-introduction/" class="footerpage-links">
                    <li>React</li>
                </a>
            </ul>

        </div>

    </div>

    <div class="footer-rights">
        Copyright&copy; Developerportfolio.com | All rights reserved
    </div>
</footer>